body {
    font-family: 'Times new Roman', sans-serif;
    margin:0;
    padding: 0;
    background-image: linear-gradient( 109.6deg,  rgb(137, 202, 112) 11.2%, rgb(4, 41, 84) 91.1% );
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background-image: linear-gradient( 109.6deg,  rgb(71, 15, 90) 11.2%, rgb(135, 156, 181) 91.1% );    
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(51, 44, 44, 0.1);

    text-align: justify;
  }
  
  h1 {
    text-align: center;
    font-size: 2.5em;
    color: #c49191;
  }
  
  h2 {
    color: #3f0a0a;
    margin-top: 20px;
    font-size: 1.6em;
  }
  
  label,div {
    font-weight: bold;
    margin-top: 10px;
    display: block;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #a78a8a;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #200c6e;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    transition-duration: 1s;
    background-color: #521e1e;
  }
  
  .resume {
    margin-top: 30px;
    text-align: center;
    background-color: #296097;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .hidden {
    display: none;
  }

  @media (max-width: 768px) {
    .container {
      padding: 20px;
      margin: 20px;
    }
  
    button {
      font-size: 14px;
    }
  }
  
  